.allStore{
    min-height: 30vh;
    .store{
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        background: white;
        margin-bottom: 1rem;
        gap: 1rem;
        .storeimg{
            border-radius: 10px;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            img{
                width: 100%;
                display: block;
                transition: .3s ease-in-out;
            }:hover{
                transform: scale(1.1);
                transition: .3s ease-in-out;
            }
            p{
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;
                padding: 0 1rem;
            }
        }
    }
}