.footer{
    background: black;
    min-height: 30vh;
    position: relative;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    @media (max-width:480px) {
        flex-direction: column;
    }
    img{
        width: 100px;
    }
    p{
        color: white;
    }
    .footerContent{
        font-weight: normal;
    }
}