.scrollNav{
    position: fixed;
    top: 0;
}
.filterIcons{
    margin-top: 2rem;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    color: black;
    .one{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        i{
            background-color: #FCF3DA;
            padding: 1rem;
            border-radius: 3rem;
        }
        p{
            font-weight: normal;
            margin-left: 0;
            color: gray;
            font-size: small;
        }
    }
}
p{
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1rem;
    margin-top: 10px;
}
.promotions{
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1rem;
    }
}
.storesSection{
    @media (max-width:500px) {
        overflow-x: auto;
        padding: 1rem;
    }
    .store{
        display: flex;
        overflow: scroll;
        width: 1000px;
        .storeimg{
            width: 400px;
        }
    }
}