.scrollNav{
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100;
    nav{
        background: white;
        color: black;
    }
    .search{
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.637);
        width: 95%;
        margin: 0 auto;
        i{
            font-size: 1.2rem;
        }
        justify-content: space-between;
        input{
            padding: .5rem 1rem;
            background: none;
            border: none;
        }:focus{
            outline: none;
        }
        @media (max-width:900px) {
            input{
                width: 300px;
            }
        }
    }
}